/* EAFC 24 */
@font-face {
	font-family: "CruyffSansBold";
	font-display: swap;
	src: url("../../assets/fonts/CruyffSansCondensed-Bold.woff2") format("woff2"),
    url("../../assets/fonts/CruyffSansCondensed-Bold.woff") format("woff");
}
@font-face {
	font-family: "CruyffSansLight";
	font-display: swap;
	src: url("../../assets/fonts/CruyffSans-Light.woff2") format("woff2"),
    url("../../assets/fonts/CruyffSans-Light.woff") format("woff");
}
@font-face {
	font-family: "CruyffSansMedium";
	font-display: swap;
	src: url("../../assets/fonts/CruyffSansCondensed-Medium.woff2") format("woff2"),
    url("../../assets/fonts/CruyffSansCondensed-Medium.woff") format("woff");
}
@font-face {
	font-family: "CruyffSansRegular";
	font-display: swap;
	src: url("../../assets/fonts/CruyffSansCondensed-Regular.woff2") format("woff2"),
    url("../../assets/fonts/CruyffSansCondensed-Regular.woff") format("woff");
}

/* FIFA 17 Font */
@font-face {
	font-family: "DinPro";
	font-display: swap;
	src: url("../../assets/fonts/DINPro.woff2") format("woff2"),
    url("../../assets/fonts/DINPro.woff") format("woff");
}
@font-face {
	font-family: "DinProLight";
	font-display: swap;
	src: url("../../assets/fonts/DINPro-Light.woff2") format("woff2"),
    url("../../assets/fonts/DINPro-Light.woff") format("woff");
}
@font-face {
	font-family: "DinProMedium";
	font-display: swap;
	src: url("../../assets/fonts/DINPro-Medium.woff2") format("woff2"),
    url("../../assets/fonts/DINPro-Medium.woff") format("woff");
}
@font-face {
	font-family: "DinProBold";
	font-display: swap;
	src: url("../../assets/fonts/DINPro-Bold.woff2") format("woff2"),
    url("../../assets/fonts/DINPro-Bold.woff") format("woff");
}
@font-face {
	font-family: "DinProCondensedLight";
	font-display: swap;
	src: url("../../assets/fonts/DINPro-CondLight.woff2") format("woff2"),
    url("../../assets/fonts/DINPro-CondLight.woff") format("woff");
}
@font-face {
	font-family: "DinProCondensed";
	font-display: swap;
	src: url("../../assets/fonts/DINPro-Cond.woff2") format("woff2"),
    url("../../assets/fonts/DINPro-Cond.woff") format("woff");
}
@font-face {
	font-family: "DinProCondensedMedium";
	font-display: swap;
	src: url("../../assets/fonts/DINPro-CondMedium.woff2") format("woff2"),
    url("../../assets/fonts/DINPro-CondMedium.woff") format("woff");
}
@font-face {
	font-family: "DinProCondensedBold";
	font-display: swap;
	src: url("../../assets/fonts/DINPro-CondBold.woff2") format("woff2"),
    url("../../assets/fonts/DINPro-CondBold.woff") format("woff");
}

/* EA Fonts */
@font-face {
	font-family: "EASans";
	font-display: swap;
	src: url("../../assets/fonts/EASans-Regular.woff2") format("woff2"),
    url("../../assets/fonts/EASans-Regular.woff") format("woff");
}
@font-face {
	font-family: "EASans-Bold";
	font-display: swap;
	src: url("../../assets/fonts/EASans-Bold.woff2") format("woff2"),
    url("../../assets/fonts/EASans-Bold.woff") format("woff");
}
@font-face {
	font-family: "EASans-Black";
	font-display: swap;
	src: url("../../assets/fonts/EASans-Black.woff2") format("woff2"),
    url("../../assets/fonts/EASans-Black.woff") format("woff");
}
@font-face {
	font-family: "EASans-BlackItalic";
	font-display: swap;
	src: url("../../assets/fonts/EASans-BlackItalic.woff") format("woff");
}
@font-face {
	font-family: "EASans-Curves";
	font-display: swap;
	src: url("../../assets/fonts/ea-sans-curves-regular.woff2") format("woff2"),
    url("../../assets/fonts/ea-sans-curves-regular.woff") format("woff");
}
@font-face {
	font-family: "Champions";
	font-display: swap;
	src: url("../../assets/fonts/Champions-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Champions-Regular.woff") format("woff");
}
@font-face {
	font-family: "Qatar2022-Medium";
	font-display: swap;
	src: url("../../assets/fonts/Qatar2022-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Qatar2022-Medium.woff") format("woff");
}
@font-face {
	font-family: "Qatar2022-Bold";
	font-display: swap;
	src: url("../../assets/fonts/Qatar2022-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Qatar2022-Bold.woff") format("woff");
}
@font-face {
	font-family: "Qatar2022-Heavy";
	font-display: swap;
	src: url("../../assets/fonts/Qatar2022-Heavy.woff2") format("woff2"),
    url("../../assets/fonts/Qatar2022-Heavy.woff") format("woff");
}

@font-face {
	font-family: "Dusha";
	font-display: swap;
	src: url("../../assets/fonts/Dusha.woff2") format("woff2"),
    url("../../assets/fonts/Dusha.woff") format("woff");
}

/* FIFA 16 Font */
@font-face {
	font-family: "Knul";
	font-display: swap;
	src: url("../../assets/fonts/Knul-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Knul-Regular.woff") format("woff");
}
@font-face {
	font-family: "Knul-Bold";
	font-display: swap;
	src: url("../../assets/fonts/Knul-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Knul-Bold.woff") format("woff");
}

.font-fifa16 {
	font-family: "Knul", "Open Sans", sans-serif;
}
.font-fifa16-bold {
	font-family: "Knul-Bold", "Opens-Sans", sans-serif;
}
.font-fifa17 {
	font-family: "DinPro", sans-serif;
}
.font-fifa17-light {
	font-family: "DinProLight", sans-serif;
}
.font-fifa17-medium {
	font-family: "DinProMedium", sans-serif;
}
.font-fifa17-bold {
	font-family: "DinProBold", sans-serif;
}
.font-fifa17-condensed-light {
	font-family: "DinProCondensedLight", sans-serif;
}
.font-fifa17-condensed {
	font-family: "DinProCondensed", sans-serif;
}
.font-fifa17-condensed-medium {
	font-family: "DinProCondensedMedium", sans-serif;
}
.font-fifa17-condensed-bold {
	font-family: "DinProCondensedBold", sans-serif;
}
.font-ea {
	font-family: "EASans", sans-serif;
}
.font-ea-bold {
	font-family: "EASans-Bold", sans-serif;
}
.font-ea-black {
	font-family: "EASans-Black", sans-serif;
}
.font-ea-blackitalic {
	font-family: "EASans-BlackItalic", sans-serif;
}
.font-ea-rounded {
	font-family: "EASans-Curves", sans-serif;
}
.font-road-to-russia {
	font-family: "Dusha", sans-serif;
}
.font-qatar-2022 {
    font-family: "Qatar2022-Medium", sans-serif;
}
.font-qatar-2022-bold {
    font-family: "Qatar2022-Bold", sans-serif;
}
.font-qatar-2022-heavy {
    font-family: "Qatar2022-Heavy", sans-serif;
}
/* FIFA 19 */
.font-champions {
    font-family: "Champions", sans-serif;
}

.playercard-chemistry,
.playercard-fifarosters,
.playercard-playstyle {
  .icon {
      /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '@{icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

//@icomoon-font-path: "../../assets/fonts/fifa-chemistry/fonts";
